# Probot
# -----------------------------------------------------------------------------
# https://probot.github.io/docs/configuration/
# * Probot will not process events until the required environment variables are set.
# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# Your GitHub App details
APP_ID=
PRIVATE_KEY=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
WEBHOOK_SECRET=

# Application configuration
# -----------------------------------------------------------------------------
# See src/config.ts for available configuration options.
RUNNER_REPOSITORY=
# CHECK_WORKFLOW_NAME=
# CHECK_WORKFLOW_REF=
# CHECK_WORKFLOW_INPUTS_ARTIFACT_NAME=
# CHECK_WORKFLOW_INPUTS_ARTIFACT_PATH=
