vercel_api_token = "vcp_..."

app_id         = "0000000"
private_key    = <<EOF
-----BEGIN RSA PRIVATE KEY-----
blahblah
-----END RSA PRIVATE KEY-----
EOF
webhook_secret = "your-webhook-secret"

runner_repository             = "owner/runner"
runner_repository_for_private = "owner/runner-private"
